@tailwind base;
@tailwind components;
@tailwind utilities;

input {
  background: transparent;
}

/* Chrome, Edge, Safari */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Firefox */
* {
  scrollbar-color: rgba(120, 120, 120, 0.4) transparent;
}
